.background {
  background: #2a2b3d;
}
.form-control:focus {
  box-shadow: none;
  border-color: #ba68c8;
}
.back-color {
  background: #2a2b3d;
  box-shadow: 0 0px 10px white, 0 6px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 10px;
}

.profile-button {
  background: #ba68c8;
  box-shadow: none;
  border: none;
}

.profile-button:hover {
  background: #682773;
}

.profile-button:focus {
  background: #682773;
  box-shadow: none;
}

.profile-button:active {
  background: #682773;
  box-shadow: none;
}

.back:hover {
  color: #682773;
  cursor: pointer;
}
.ProfileButton {
  color: #fff;
  background-color: rgb(207 190 185 / 32%);
  box-shadow: 0 0px 10px white, 0 6px 6px rgba(0, 0, 0, 0.23);
  font-weight: 400;
  height: 60px;
  font-size: 14px;
  border: none;
  width: 150px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.ProfileButto {
  color: #fff;
  background-color: rgb(207 190 185 / 32%);
  box-shadow: 0 0px 10px white, 0 6px 6px rgba(0, 0, 0, 0.23);
  font-weight: 400;
  height: 60px;
  font-size: 14px;
  border: none;
  width: 200px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
//image css
.contains {
  height: 500px;
  width: 500px;
}

.contains {
  height: 400px;
  width: 400px;
}
.img-holders {
  margin: auto;
  width: 250px;
  height: 250px;
  background-color: rgb(207 190 185 / 32%);
  box-shadow: 0 0px 10px white, 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 50%;
}
.imgs {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  padding: 10px;
}
#input[type="file"] {
  display: none;
}
.labuls {
  width: 15%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  margin-left: 160px;
}
.image-uploads {
  margin: 1px;
  width: 100px;
  border-radius: 100px;
  height: 60px;
  display: flex;
  justify-content: center;
  color: rgb(253, 239, 239);
  background-color: rgb(207 190 185 / 32%);
  box-shadow: 0 0px 10px white, 0 6px 6px rgba(0, 0, 0, 0.23);
  text-align: center;
  cursor: pointer;
}
.myicons {
  font-size: 30px;
}
