.slider {
    width: 100%;
    height: 90vh;
    position: relative;
    overflow: hidden;
  }
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(-50%);
    transition: all 0.5s ease;
  }
  @media screen and (min-width: 600px) {
    .slide img {
      width: 100%;
      height: 100%;
   }
  }
  .slide img {
    height: 100%;
  }
  .current {
    opacity: 1;
    transform: translateX(0);
  }
  .content {
    position: absolute;
    left: 5rem;
    margin-top: -200px;
    opacity: 0;
    width: 50%;
    color: #fff;
    padding: 3rem;
    background: rgba(0, 0, 0, 0.3);
    animation: slide-up 1s ease 0.5s;
    animation-fill-mode: forwards;
    visibility: hidden;
  }
  @keyframes slide-up {
    0% {
      visibility: visible;
      top: 23rem;
   }
    100% {
      visibility: visible;
      top: 17rem;
   }
  }  
  .content > * {
    color: #fff;
    margin-bottom: 1rem;
  }
  .current .content {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.5s ease;
  }
  .arrow {
    border: 2px solid white;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    border-radius: 20%;
    position: absolute;
    z-index: 999;
  }
  .arrow:hover {
    background-color: #fff;
    color: #777;
  }
  .next {
    top: 40%;
    right: 1.5rem;
  }
  .prev {
    top: 40%;
    left: 1.5rem;
  }
  hr {
    height: 2px;
    background: white;
    width: 50%;
  }
  @media only screen and (min-width: 800px) and (max-width: 900px) {
    .content{
      width:45%;
      margin-top: -280px;
      height: 46%;
      padding: 2.5rem;
    }
    .slider {
      width: 100%;
      height: 90vh;
      position: relative;
      overflow: hidden;
    }
  }
  @media only screen and (min-width: 700px) and (max-width: 799px) {
    .content{
      width:45%;
      margin-top: -280px;
      height: 37%;
      padding: 2rem;
    }
    .slider {
      margin-bottom:-300px; 
    }
    .heading2{
      font-size: 26px;
    }
  }
  @media only screen and (min-width: 600px) and (max-width: 699px) {
    .content{
      width:40%;
      margin-top: -280px;
      height: 27%;
      padding: 1rem;
      margin-left: -30px;

    }
    .heading2{
      font-size: 20px;
    }
    .par1{
      font-size: 15px;
    }
  }
  @media only screen and (min-width: 500px) and (max-width: 599px) {
    .content{
      width:40%;
      margin-top: -280px;
      height: 27%;
      padding: 1rem;
      margin-left: -50px;
    }
    .heading2{
      font-size: 17px;
    }
    .par1{
      font-size: 12px;
    }
  }
  @media only screen and (min-width: 426px) and (max-width: 499px) {
    .content{
      width:40%;
      margin-top: -300px;
      height: 21%;
      padding: 0.5rem;
      margin-left: -70px;
    }
    .heading2{
      font-size: 15px;
    }
    .par1{
      font-size: 11px;
    }
  }
  @media only screen and (min-width: 376px) and (max-width: 425px) {
    .content{
      width:40%;
      margin-top: -300px;
      height: 21%;
      padding: 0.5rem;
      margin-left: -70px;
    }
    .heading2{
      font-size: 15px;
    }
    .par1{
      margin-top: -15px;
      font-size: 11px;
    }
  }
  @media only screen and (min-width: 300px) and (max-width: 375px) {
    .content{
      width:40%;
      margin-top: -320px;
      height: 21%;
      padding: 0.5rem;
      margin-left: -70px;
    }
    .heading2{
      font-size: 13px;
    }
    .par1{
      margin-top: -15px;
      font-size: 11px;
    }
    .lin{
      margin-top: -10px;
    }
  }
  @media only screen and (max-width: 600px) {
    .next {
      display: none;
    }
    .prev {
      display: none;
  }
}
  
  